
@{
    ViewBag.Title = "Formulir";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Data Personal</h4>
                    <form class="form-sample">
                        <p class="card-description">
                            Pribadi
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Nama Lengkap</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="John Doe">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Gelar</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="S.E">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Tempat Lahir</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="Jakarta">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Tanggal Lahir</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Jenis Kelamin</label>
                                    <div class="col-sm-9">
                                        <select class="form-control">
                                            <option>Laki-laki</option>
                                            <option>Perempuan</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Agama</label>
                                    <div class="col-sm-9">
                                        <select class="form-control">
                                            <option>Islam</option>
                                            <option>Kristen</option>
                                            <option>Buddha</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Tinggi Badan</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="number" placeholder="175 CM">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Berat Badan</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="number" placeholder="50 Kg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="email" placeholder="cv@gmail.com">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Phone</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="0822xxxxxxx">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="card-description">
                            Alamat
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Alamat Lengkap</label>
                                    <div class="col-sm-9">
                                        <textarea type="text" class="form-control" placeholder="Jln. TB Simatupang Jakarta Selatan"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Kota</label>
                                    <div class="col-sm-9">
                                        <select class="form-control">
                                            <option>Jakarta</option>
                                            <option>Tangerang</option>
                                            <option>Bogor</option>
                                            <option>Bandung</option>
                                            <option>Surabaya</option>
                                            <option>Malang</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Provinsi</label>
                                    <div class="col-sm-9">
                                        <select class="form-control">
                                            <option>DKI Jakarta</option>
                                            <option>Banten</option>
                                            <option>Jawa Barat</option>
                                            <option>Jawa Tengah</option>
                                            <option>Jawa Timur</option>
                                            <option>Sumatera</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Kode Pos</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="number" placeholder="15810">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Negara</label>
                                    <div class="col-sm-9">
                                        <select class="form-control">
                                            <option>Indonesia</option>
                                            <option>America</option>
                                            <option>Italy</option>
                                            <option>Russia</option>
                                            <option>Britain</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-5 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Riwayat Pendidikan</h4>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">Pendidikan</label>
                                <div class="col-sm-6">
                                    <select class="form-control">
                                        <option>S1</option>
                                        <option>SMA</option>
                                        <option>SMP</option>
                                        <option>SD</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="forms-sample">
                        <div class="form-group">
                            <label>Nama Sekolah</label>
                            <input type="text" class="form-control" placeholder="Universitas Indonesia">
                        </div>
                        <div class="form-group">
                            <label>Tahun Masuk</label>
                            <input class="form-control" placeholder="2010">
                        </div>
                        <div class="form-group">
                            <label>Tahun Lulus</label>
                            <input class="form-control" placeholder="2014">
                        </div>
                        <button type="submit" class="btn btn-success mr-2"><i class="fa fa-plus-square"></i>Simpan</button>
                        <button class="btn btn-light"><i class="mdi mdi-refresh"></i>Reset</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-7 d-flex align-items-stretch grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Data Riwayat Pendidikan</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Nama Sekolah
                                    </th>
                                    <th>
                                        Thn Masuk
                                    </th>
                                    <th>
                                        Thn Lulus
                                    </th>
                                    <th>
                                        Jenjang
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="py-1">
                                        Universitas Indonesia
                                    </td>
                                    <td>
                                        2010
                                    </td>
                                    <td>
                                        2014
                                    </td>
                                    <td>
                                        S1
                                    </td>
                                    <td>
                                        <i class="fa fa-edit"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-1">
                                        SMA 12 Jakarta
                                    </td>
                                    <td>
                                        2008
                                    </td>
                                    <td>
                                        2011
                                    </td>
                                    <td>
                                        SMA
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-1">
                                        SMP 31 Jakarta
                                    </td>
                                    <td>
                                        2010
                                    </td>
                                    <td>
                                        2014
                                    </td>
                                    <td>
                                        SMP
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Riwayat Pekerjaan</h4>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="form-radio">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="membershipRadios" checked=""> Freshgraduate
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-radio">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="membershipRadios"> Berpengalaman
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="forms-sample">
                        <div class="form-group">
                            <label>Nama Perusahaan</label>
                            <input type="text" class="form-control" placeholder="PT CV Online">
                        </div>
                        <div class="form-group">
                            <label>Tahun Masuk</label>
                            <input class="form-control" placeholder="2010">
                        </div>
                        <div class="form-group">
                            <label>Tahun Keluar</label>
                            <input class="form-control" placeholder="2014">
                        </div>
                        <div class="form-group">
                            <label>Jabatan</label>
                            <input class="form-control" placeholder="Operator Produksi">
                        </div>
                        <button type="submit" class="btn btn-success mr-2">Simpan</button>
                        <button class="btn btn-light"><i class="mdi mdi-refresh"></i>Reset</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-7 d-flex align-items-stretch grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Data Riwayat Pekerjaan</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Nama Perusahaan
                                    </th>
                                    <th>
                                        Thn Masuk
                                    </th>
                                    <th>
                                        Thn Lulus
                                    </th>
                                    <th>
                                        Jabatan
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="py-1">
                                        PT CV Online
                                    </td>
                                    <td>
                                        2010
                                    </td>
                                    <td>
                                        2014
                                    </td>
                                    <td>
                                        Admin
                                    </td>
                                    <td>
                                        <i class="fa fa-edit"></i>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Pengalaman Berorganisasi</h4>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">Organisasi</label>
                                <div class="col-sm-6">
                                    <select class="form-control">
                                        <option>Mengikuti</option>
                                        <option>Tidak Mengikuti</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="forms-sample">
                        <div class="form-group">
                            <label>Nama Organisasi</label>
                            <input type="text" class="form-control" placeholder="Himpunana Mahasiswa">
                        </div>
                        <div class="form-group">
                            <label>Tahun Masuk</label>
                            <input class="form-control" placeholder="2010">
                        </div>
                        <div class="form-group">
                            <label>Tahun Keluar</label>
                            <input class="form-control" placeholder="2014">
                        </div>
                        <div class="form-group">
                            <label>Jabatan</label>
                            <input class="form-control" placeholder="Ketua Himpunan">
                        </div>
                        <button type="submit" class="btn btn-success mr-2">Simpan</button>
                        <button class="btn btn-light"><i class="mdi mdi-refresh"></i>Reset</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-7 d-flex align-items-stretch grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Data Riwayat Organisasi</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Nama Organisasi
                                    </th>
                                    <th>
                                        Thn Masuk
                                    </th>
                                    <th>
                                        Thn Lulus
                                    </th>
                                    <th>
                                        Jabatan
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="py-1">
                                        Himpunana Mahasiswa
                                    </td>
                                    <td>
                                        2010
                                    </td>
                                    <td>
                                        2014
                                    </td>
                                    <td>
                                        Admin
                                    </td>
                                    <td>
                                        <i class="fa fa-edit"></i>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Keterampilan</h4>
                    <form class="forms-sample">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">Microsoft Word
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked="">Microsoft Excel
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">Microsoft Power Point
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked="">Microsoft Office
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">Microsoft Word
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked="">Microsoft Excel
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">Microsoft Power Point
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked="">Microsoft Office
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">Microsoft Word
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked="">Microsoft Excel
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">Microsoft Power Point
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked="">Microsoft Office
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                <button type="button" class="btn btn-primary btn-fw">
                    <i class="mdi mdi-file-document"></i>Submit
                </button>
            </span>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->
<!-- partial -->